@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.main {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: -10%;
  left: 0;
  background-image: url("../public/assets/img/background.svg");
  background-position: 0;
}

.device-bg {
  width: 100%;
  background-image: url("../public/assets/img/background-blobs.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.popup_tabs,
.colorpicker,
.color-picker-panel {
  background-color: rgb(15 23 42) !important;
}

.input_rgba input {
  background-color: rgb(28, 37, 59) !important;
  color: whitesmoke !important;
  box-shadow: 0px 0px 0px 2px #20242b !important;
}

.active-shadow {
  box-shadow: 0 0px 15px 3px rgba(255, 255, 255, 0.1), 0 4px 6px -4px rgba(250, 250, 250, 0.1) !important;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
